@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>History has been full of ghost stories from all societies. From stories told by word of mouth, to written down in stories to be told around a campfire, they've always been apart of our lives. So it's about time they've been properly documented.'</p>
<p>The Ghost Gallery is a project aimed to collect data that contains the Locations, Ghosts, and Events associated with them. From here, we hope it is easier to be able to scroll through and find information on relative supernatural topics.</p>