@{
    ViewBag.Title = "Home Page";
}
<div class="card" style="text-align: center;">
    <div class="card-header">
        <h1 style="text-align: center; font-family: Bookman, URW Bookman L, serif;" class="card-title">Ghost Gallery</h1>
        <p class="lead">The Ghost Gallery is a collection of spirits, locations, and events connected to the paranormal. Documented to prepare future hunters for events to come.</p>
        <p><a href="Views/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<hr/>

<div class="row" style="text-align: center; padding-left: 20rem;">
    <div class="col-md-4 card" style="width: 25rem;">
        <div class="card body">
            <h2 class="card-title" style="font-family: Bookman, URW Bookman L, serif;">Locations</h2>
            <p>
                Every ghost needs somewhere to reside. Locations here have their address marked down for ease of location, with each ghost having a connection.
            </p>
            <p><button class="btn btn-default">@Html.ActionLink("Locations", "Index", "Location")</button></p>
        </div>
    </div>
    <div class="col-md-4 card" style="width: 25rem;">
        <h2 style="font-family: Bookman, URW Bookman L, serif;">Ghosts</h2>
        <p>The reason we're here, the ghosts. Ghosts have their type and powers written down, along with a threat level between 1-10.</p>
        <p><button class="btn btn-default">@Html.ActionLink("Ghosts", "Index", "Ghost")</button></p>
    </div>
    <div class="col-md-4 card" style="width: 25rem;">
        <h2 style="font-family: Bookman, URW Bookman L, serif;">Events</h2>
        <p>Events from each spirit are markedd down here, noting the equipment used in the event as well.</p>
        <p><button class="btn btn-default" style="text-decoration: none;">@Html.ActionLink("Events", "Index", "Event")</button></p>
    </div>
</div>

<style>
    p {
        color: white;
    }

    card {
        background-color: white;
    }
</style>