@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ghost Gallery</h1>
    <p class="lead">The Ghost Gallery is a collection of spirits, locations, and events connected to the paranormal. Documented to prepare future hunters for events to come.</p>
    <p><a href="Views/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>
            Every ghost needs somewhere to reside. Locations here have their address marked down for ease of location, with each ghost having a connection.
        </p>
        <p><a class="btn btn-default" href=@Html.ActionLink("Locations", "Index", "Location")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ghosts</h2>
        <p>The reason we're here, the ghosts. Ghosts have their type and powers written down, along with a threat level between 1-10.</p>
        <p><a class="btn btn-default" href=@Html.ActionLink("Ghosts", "Index", "Ghost")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Events from each spirit are markedd down here, noting the equipment used in the event as well.</p>
        <p><a class="btn btn-default" href=@Html.ActionLink("Events", "Index", "Event")>Learn more &raquo;</a></p>
    </div>
</div>